
	<div id="mySidenav" class="sidenav">
		<p class="logo"><span>M</span>-Club </p>
	  <a style="cursor: pointer;" id="dashboardMainButton" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
	  <a style="cursor: pointer;" id="equipeButton"  class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Equipe</a>
	  <a style="cursor: pointer;" id="adherentButton"   class="icon-a" ><i class="fa fa-user icons"></i> &nbsp;&nbsp;Adhérents</a>
	  <a style="cursor: pointer;" id="clientButton"  class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Clients</a>
	  <a  href="" class="icon-a"><i class="fa fa-sign-in icons"   aria-hidden="true"></i> &nbsp;&nbsp; Log Out </a>
	
	</div>
	<div id="main" >
	
		<div class="head">
			<div class="col-div-6">
	<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
	<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
	</div>
		
		<div class="col-div-6">
		<div class="profile">
	
			<img src="/assets/user.png" class="pro-img" />
			<p>Aziz Mrabet <span> M-Club Admin </span></p>
			
		</div>
		</div>
		<div class="clearfix"></div>
		</div >
		<section  >
			<app-dashboard-main  id="dashboardMain"></app-dashboard-main>
			<app-coach-dashboard  class="hide" id="equipe"  [variable]="ShowCoach"></app-coach-dashboard>
		<app-clients-dashboard class="hide" id="client" ></app-clients-dashboard>
		<app-adherent-dashboard class="hide" id="adhérent" ></app-adherent-dashboard>
		</section>
		
	
	</div>
	


