<section class="main">
    <Section class="intro">
        <h1>Qui somme nous ?</h1>
        <h2 style="text-align:justify;">M club s’est donnée pour mission d’inspirer, motiver et encadrer des personnes de tout âge pour les aider à s’entrainer et améliorer leur bien-être Offrant un service de qualité et équipée d’appareils à la pointe de la technologie ,  la chaîne fournit
            à ses adhérents des conditions propices à la pratique du sport et leur offre un environnement convivial où se tissent de vrais liens sociaux</h2>
    </Section>
    <section class="glass">
    <div class="local">
        <h1>Où somme nous ?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.91244561925!2d10.704819415057374!3d34.782979380413416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d5b3d2064e7f%3A0xd9d31c80e9fc9f00!2sM%20club!5e0!3m2!1sfr!2stn!4v1680014373633!5m2!1sfr!2stn" width="90%" height="450'" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="formulaire" id="myInput">
        <form action="" [formGroup]="signupForm">
            <h1>Inscription</h1>
            <div>
                <input autocomplete="off"   required type="text" placeholder="Nom"onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''" id="ClientNom">
                <input autocomplete="off"   required type="text" placeholder="Prénom"  onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''" id="ClientPrenom">
            </div>
            <div>
                <input autocomplete="off"   required type="email" placeholder="Email" onblur="this.placeholder='Email'" onfocus="this.placeholder=''" id="ClientEmail">
                <input autocomplete="off"  type="tel" placeholder="Téléphone"  onblur="this.placeholder='Téléphone'" onfocus="this.placeholder=''" id="ClientTel">
            </div>
            <div>
                <!-- <input type="text" placeholder="Abonnement"  onblur="this.placeholder='Abonnement'" onfocus="this.placeholder=''"> -->
                <select  required  name="Abonnement" id="ClientAbonnement">
                    <option id="selectedAbn" value="" disabled selected>Abonnement </option>
                    <option value="Global">Global</option>
                    <option value="Piscine">Piscine</option>
                    <option value="Gym&Fitness">Gym&Fitness</option>
                </select>
                <select  required name="Durée" id="ClientDuree"    >
                    <option value="" disabled selected>Durée </option>
                    <option value="3 mois">3 mois </option>
                    <option value=" 6 mois">6 mois  </option>
                    <option value=" 12 mois ">12 mois </option>
                </select>
            </div>
            <button id="myButton" class="bouton" (click)="Inscription()">S'inscrire</button>
            <div id="countdown"></div>
        </form>
    </div>
    </section>
    <section class="feedback">
        <div>
            <form action="">
                <h1>Contactez-nous </h1>
                <div>
                    <input autocomplete="off" id="feedNom" type="text" placeholder="Nom" onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''">
                    <input autocomplete="off" id="feedPrenom" type="text" placeholder="Prénom" onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <input autocomplete="off" id="feedEmail" type="email" placeholder="Email" onblur="this.placholder=this.placeholder='Email'" onfocus="this.placeholder=''">
                    <input autocomplete="off" id="feedTel" type="tel" placeholder="Téléphone" onblur="this.placholder=this.placeholder='Téléphone'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <textarea autocomplete="off"  name="" id="feedMessage"  placeholder="Message" onblur="this.placholder=this.placeholder='Message'" onfocus="this.placeholder=''"></textarea>
                    <a (click)="FeedBack()" class="btn">Envoyer</a>
                </div>

            </form>
        </div>
    </section>
</section>
<div class="popupC">
    <button id="fermerC">&times;</button>
    <h2>Attention !</h2>
    <p>
     vous avez 10 jours pour faire le paiement ! 
    </p>
    
</div>


