<section class="main">
    <Section class="intro">
        <h1>Qui somme nous ?</h1>
        <h2 style="text-align:justify;">M club s’est donnée pour mission d’inspirer, motiver et encadrer des personnes de tout âge pour les aider à s’entrainer et améliorer leur bien-être Offrant un service de qualité et équipée d’appareils à la pointe de la technologie ,  la chaîne fournit
            à ses adhérents des conditions propices à la pratique du sport et leur offre un environnement convivial où se tissent de vrais liens sociaux</h2>
    </Section>
    <section class="glass">
    <div class="local">
        <h1>Où somme nous ?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.91244561925!2d10.704819415057374!3d34.782979380413416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d5b3d2064e7f%3A0xd9d31c80e9fc9f00!2sM%20club!5e0!3m2!1sfr!2stn!4v1680014373633!5m2!1sfr!2stn" width="90%" height="450'" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="formulaire" id="myInput">
        <form action="">
            <h1>Inscription</h1>
            <div>
                <input type="text" placeholder="Nom"onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''">
                <input type="text" placeholder="Prénom"  onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''">
            </div>
            <div>
                <input type="email" placeholder="Email" onblur="this.placeholder='Email'" onfocus="this.placeholder=''">
                <input type="tel" placeholder="Téléphone"  onblur="this.placeholder='Téléphone'" onfocus="this.placeholder=''">
            </div>
            <div>
                <input type="text" placeholder="Abonnement"  onblur="this.placeholder='Abonnement'" onfocus="this.placeholder=''">
                <select name="Durée" id="" aria-placeholder="Durée"   >
                    <option value="" disabled selected>Durée </option>
                    <option value="">3 mois </option>
                    <option value="">9 mois  </option>
                    <option value="">12 mois </option>
                </select>
            </div>
            <button>S'inscrire</button>
        </form>
    </div>
    </section>
    <section class="feedback">
        <div>
            <form action="">
                <h1>Contactez-nous </h1>
                <div>
                    <input type="text" placeholder="Nom" onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''">
                    <input type="text" placeholder="Prénom" onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <input type="email" placeholder="Email" onblur="this.placholder=this.placeholder='Email'" onfocus="this.placeholder=''">
                    <input type="tel" placeholder="Téléphone" onblur="this.placholder=this.placeholder='Téléphone'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <textarea name="" id=""  placeholder="Message" onblur="this.placholder=this.placeholder='Message'" onfocus="this.placeholder=''"></textarea>
                    <a href="#" class="btn">Envoyer</a>
                </div>

            </form>
        </div>
    </section>
</section>


