<section class="main">
    <Section class="intro">
        <h1>Qui somme nous ?</h1>
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt mollitia aliquam,
             fuga quidem qui molestias neque quis animi sunt sapiente obcaecati, 
             libero minus aut praesentium dicta provident temporibus esse,
              itaque vero dolor repellat? Nisi dignissimos excepturi, qui obcaecati architecto dolorum libero error at, 
            ipsa nulla fuga fugiat adipisci ex atque?</h2>
    </Section>
    <section class="glass">
    <div class="local">
        <h1>Où somme nous ?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.91244561925!2d10.704819415057374!3d34.782979380413416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d5b3d2064e7f%3A0xd9d31c80e9fc9f00!2sM%20club!5e0!3m2!1sfr!2stn!4v1680014373633!5m2!1sfr!2stn" width="90%" height="450'" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="formulaire">
        <form action="">
            <h1>Inscription</h1>
            <div>
                <input type="text" placeholder="Nom">
                <input type="text" placeholder="Prenom">
            </div>
            <div>
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Numéro Tel">
            </div>
            <div>
                <input type="text" placeholder="Abonnement">
                <select name="Durée" id="" aria-placeholder="Durée" >
                    <option value="" disabled selected>Durée </option>
                    <option value="">3 mois </option>
                </select>
            </div>
            <button>S'inscrire</button>
        </form>
    </div>
    </section>
</section>


