<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">


                <div class="logo">
                    <h4>Bienvenue Chez</h4>
                    <img src="/assets/Mclub-img.png" height="130px">
                </div>

            </div>
            <div class="footer-col">
                <h4>Nos Services</h4>
                <ul>
                    <li><a href="#">Fitness & Gym</a></li>
                    <li><a href="#">Piscine</a></li>
                    <li><a href="#">Hammem & Spa</a></li>
                    <li><a href="#">Buvette</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Aide</h4>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Tarif</a></li>
                    <li><a href="#">Planning</a></li>
                    <li><a href="#">Notre équipe</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Route Lafran km 6.5 </p>
                    </div>

                    <div style="margin-top: 15px;">
                        <i class="fa fa-phone"></i>
                        <p>+216 74 659 258</p>
                    </div>
                    <div style="margin-top: 15px;">
                        <i class="fa fa-envelope"></i>
                        <p>MClub@gmail.com</p>
                    </div>
                </div>




            </div>
            <div class="footer-col">
                <h4>Media</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>


                </div>


            </div>

        </div>
    </div>
    
</footer>