<header>
    <div class="logo">
        <img src="/assets/Mclub-img.png" height="120px">
    </div>
   <ul id="list">
    <li><a  routerLink="">Accueil</a></li>
    <li id="trigger" ><a id=""  href="#" >Nos Services</a>
        <ul class="drop">
            <li><a routerLink="gym">Gym & Fitness</a></li><hr>
            <li><a routerLink="piscine">Piscine</a></li><hr>
            <li><a routerLink="hammem">Hammem & Spa</a></li><hr>
            <li><a routerLink="buvette">Buvette</a></li>
          </ul>
    </li>
    <li><a routerLink="tarif">Tarif</a></li>
    <li><a href="#">Plan</a></li>
    <li><a routerLink="equipe">Notre équipe</a></li>
    <li><a routerLink="contact" >Contact</a></li>
   </ul>
</header>


