<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="/assets/promo 1.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 2.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 3.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 4.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 5.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 6.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 7.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 8.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 9.jpg" />
    </div>


    <!-- same slides doubbled -->
    <div class="slide">
      <img  src="/assets/promo 1.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 2.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 3.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 4.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 5.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 6.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 7.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 8.jpg" />
    </div>
    <div class="slide">
      <img src="/assets/promo 9.jpg" />
    </div>
  </div>

</div>

