  <!-- <div class="box">
            <img src="/assets/Gym&Fitness/cardio-hit.jpg" alt="">
            <div class="content">
                <h3>Cardio Hiit</h3>
                <p>Le HIIT est une méthode d’entraînement qui consiste à alterner des périodes courtes d’effort intenses avec des temps de récupération également très brefs</p>
                
            </div>
        </div>
  
        <div class="box">
            <img src="/assets/Gym&Fitness/Gym-ball.jpg" alt="">
            <div class="content">
                <h3>Gym Ball</h3>
                <p>Un gros ballon de fitness qui s’utilise pour le renforcement des muscles profonds. Il muscle la sangle abdominale, tonifie la silhouette et soulage les maux de dos</p>
                
            </div>
        </div>
  
        <div class="box">
            <img src="/assets/Gym&Fitness/Parcours-minceur.jpg" alt="">
            <div class="content">
                <h3>Parcours Minceur</h3>
                <p>Le parcours minceur est un cours de fitness construit autour d'ateliers cardio et de renforcement musculaire. Son objectif consiste à bruler les graisses et à modeler la silhouette</p>
                
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/AfroDance.jpg" alt="">
            <div class="content">
                <h3>Afro Danse</h3>
                <p>L’Afro dance est un cours cardio basé sur les sonorités africaines. C’est une danse qui peut être à la fois fluide et explosive, avec un accent mis sur les changements de rythmes</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Gym-prénatal.jpg" alt="">
            <div class="content">
                <h3>Gym Prénatal</h3>
                <p>La gymnastique prénatale propose des exercices de respiration et de relaxation pour vous préparer à l’accouchement.</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Pilate.jpg" alt="">
            <div class="content">
                <h3>Pilates</h3>
                <p>Le pilates est une méthode d'entraînement physique qui s'inspire du yoga, de la danse et de la gymnastique. Elle se pratique au sol, sur un tapis, ou à l'aide d'appareils. </p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/circuit-hiit.jpg" alt="">
            <div class="content">
                <h3>Circuit Hiit</h3>
                <p>Le HIIT est une méthode d’entraînement qui consiste à alterner des périodes courtes d’effort intenses avec des temps de récupération également très brefs.Il demande plus d'effort que le cardio Hiit</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Workout.jpg" alt="">
            <div class="content">
                <h3>Workout Femme</h3>
                <p>Ce cours de renforcement musculaire très intense a été spécialement conçu pour sculpter la silhouette en un minimum de temps</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/hiit-step.jpg" alt="">
            <div class="content">
                <h3>Cardio Hiit Step</h3>
                <p>Le Cardio Hiit Step est une méthode qui consiste, comme son nom l’indique, à travailler sur l’ensemble des chaînes musculaires au cours d’un seul entraînement.</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/zumba.jpg" alt="">
            <div class="content">
                <h3>Cardio Zumba</h3>
                <p>La zumba, c'est la cardio mixée à la danse latine. Les chorégraphies sont rythmées et intenses mais font ressemblent bien plus à des danses qu'à des exercices musculaires</p>
               
            </div>
        </div>
  
        <div class="box">
            <img src="/assets/Gym&Fitness/group-boxing.jpg" alt="">
            <div class="content">
                <h3>Art Martiaux</h3>
                <p>Kick Boxing : Sport de combat qui se pratique avec les poings et les pieds et Self Defence : la maîtrise de techniques de combat permettant de faire face à une agression physique</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Volleyball.jpg" alt="">
            <div class="content">
                <h3>Volley-Ball</h3>
                <p>Sport cllectif. Pour les joueurs d'une équipe, à faire franchir le filet au ballon en le reprenant de volée et à la main, sans le laisser rebondir, de telle sorte que l'équipe adverse ne puisse pas le renvoyer.</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/basket.jpg" alt="">
            <div class="content">
                <h3>Basket-Ball</h3>
                <p>Le basketball est un sport collectif . Les joueurs essaie de lancer le ballon dans un panier suspendu à 3,05 m du sol, ce sport demande une grande débauche d’énergie.</p>
               
            </div>
        </div>
  
        <div class="box">
            <img src="/assets/Gym&Fitness/full-body-sculpt.jpg" alt="">
            <div class="content">
                <h3>Full Body Sculpt</h3>
                <p> le Full Body Sculpt est une discipline fitness qui allie renforcement musculaire et cardiotraining ciblant toutes les parties du corps.</p>
               
            </div>
        </div> -->




        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/danse.png" alt="">
            <div class="content">
                <h3>Club Danse</h3>
                <p>Les enfants qui pratiquent la danse ont un meilleur développement aussi bien sur le plan physique qu'intellectuel, émotionnel et relationnel</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/psych.png" alt="">
            <div class="content">
                <h3>Psychomotricité</h3>
                <p>La psychomotricité regroupe des fonctions motrices qui sont en lien direct ou indirect avec la pensée, la psychologie et les fonctions cérébrales</p>
               
            </div>
        </div>
        
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/karate.jpg" alt="">
            <div class="content">
                <h3>Karaté</h3>
                <p>Le karaté permet l'épanouissement du corps et de l'esprit, la valorisation de soi dans l'action, apporte la souplesse, l'équilibre et le plaisir</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/arts.png" alt="">
            <div class="content">
                <h3>Art Plastique</h3>
                <p>Ils permettent aux enfants de mettre en oeuvre et de donner du sens aux acquis scolaires tout en développant leur imagination, leur sensibilité et leur part de rêve</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/gym.png" alt="">
            <div class="content">
                <h3>Gymnastique</h3>
                <p>Gymnastique: Est un sport qui présente une bonne initiation pour apprendre à connaître son corps et demande à terme, beaucoup de rigueur</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/self.png" alt="">
            <div class="content">
                <h3>Self Défence</h3>
                <p>La self-défense enfant est une activité ludique, utile et complète où les plus jeunes apprendront à dépasser leurs appréhensions, à se dépasser et pendront confiance en eux en travaillant leur corps et leur mental</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/Volley.jpg" alt="">
            <div class="content">
                <h3>Volley-Ball</h3>
                <p>Sport cllectif. Pour les joueurs d'une équipe, à faire franchir le filet au ballon en le reprenant de volée et à la main, sans le laisser rebondir, de telle sorte que l'équipe adverse ne puisse pas le renvoyer.</p>
               
            </div>
        </div>
        <div class="box">
            <img src="/assets/Gym&Fitness/Kids/basketball.jpg" alt="">
            <div class="content">
                <h3>Basket-Ball</h3>
                <p>Le basketball est un sport collectif . Les joueurs essaie de lancer le ballon dans un panier suspendu à 3,05 m du sol, ce sport demande une grande débauche d’énergie.</p>
               
            </div>
        </div>
  
