<header>
    <nav id="myNavbar">
      <div class="wrapper">
        <div class="logo">
          <img src="/assets/Mclub-img.png"  height="120px">
      </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
          <li><a routerLink="">Accueil</a></li>
          
          <li id="trigger">
            <a   style="cursor: pointer;" class="desktop-item"> Services</a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item">Services</label>
            <ul class="drop-menu">
              <li><a  routerLink="gym">Gym & Fitness</a></li><hr>
              <li><a  routerLink="piscine">Piscine</a></li><hr>
              <li><a  routerLink="hammem">Hammem & Spa</a></li><hr>
              <li><a  routerLink="buvette">Buvette</a></li><hr>
            </ul>
          </li>
          <li><a routerLink="tarif">Tarif</a></li>
          <li><a routerLink="plan">Plan</a></li>
          <li><a routerLink="equipe">  Équipe</a></li>
          <li><a routerLink="contact">Contact</a></li>
          <li><i (click)="GoToLogin()" class="fa fa-user fa-2x" aria-hidden="true"></i></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav>
  </header>