<section class="background">
    <img src="/assets/equipe-background.png" alt="" height="330px" width="100%">
    
    <h1 id="target">NOTRE ÉQUIPE </h1>
</section>
<section class="trainers" id="trainers">
    <div class="box-container">

        <div class="box">
            <img src="/assets/trainer-1.jpg" alt="">
            <div class="content">
                
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="/assets/trainer-2.jpg" alt="">
            <div class="content">
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="/assets/trainer-3.jpg" alt="">
            <div class="content">
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="/assets/trainer-4.jpg" alt="">
            <div class="content">
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <img src="/assets/trainer-3.jpg" alt="">
            <div class="content">
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="/assets/trainer-4.jpg" alt="">
            <div class="content">
                <h2>Skander Trigui</h2>
                <h4>Cardio Hit</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> +216 44 140 620 </p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>

</section>
