<section class="background">
    <img src="/assets/equipe-background.png" alt="" height="330px" width="100%">
    
    <h1 id="target">NOTRE ÉQUIPE </h1>
</section>


<section class="trainers" id="trainers">
    

    <div class="box-container" *ngFor="let equipe of EquipeTab">
       
        

        <!-- <app-equipe-card [equipeInput ="equipe"]></app-equipe-card> -->
        <div class="box">
   
            <img [src]="equipe.image" alt="">
            <div class="content">
                
                <h2>{{equipe.name}}</h2>
                <h4>{{equipe.profession}}</h4>
                
                <div class="share">
                    <i class="fa fa-phone" aria-hidden="true"><p> {{equipe.tel}}</p></i><br>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
        

      

    </div>

</section>
