<div class="wrapper">
      <div class="container">
        <i class="fa fa-bars"></i>
        <span class="num" data-val="35">000</span>
        <span class="text">Services Fournis</span>
      </div>

      <div class="container">
        <i class="fa fa-male"></i>
        <span class="num" data-val="234">000</span>
        <span class="text">Adhérents</span>
      </div>

      <div class="container">
        <i class="fas fa-smile-beam"></i>
        <span class="num" data-val="215">000</span>
        <span class="text">Clients Satisfaits</span>
      </div>

      

      <div class="container">
        <i class="fa fa-users"></i>
        <span class="num" data-val="40">000</span>
        <span class="text">Staff M Club</span>
      </div>
    </div>