<section class="Banner">
    <div class="container-first">
        <h1><span>Bienvenue Chez </span></h1>
        
       <img id="logo" src="/assets/Mclub-img.png" height="260px">
         
        </div>
</section>

<section class="main">
    <div class="up">
        <i class="fas fa-arrow-up"></i>
    </div>
    
    <div class="about-intro">
        <h1>Bienvenue Chez M Club </h1>
            <p>  un service de qualité et équipée d’appareils à la pointe de la technologie, M club s’est donnée pour mission
                d’inspirer, motiver et encadrer des personnes de tout âge pour les aider à s’entrainer et améliorer leur bien-être. La chaîne fournit
                à ses adhérents des conditions propices à la pratique du sport et leur offre un environnement convivial où se tissent de vrais liens
                sociaux autour d’un même centre d’intérêt : le sport et la santé.</p>

    </div>

    <div class="container">
       
        <div id="poids" class="card">
            <div  class="imgBx" >
                <pre>Perte de poids </pre>
                <img src="/assets/regime.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Perte de poids</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi, id necessitatibus corrupti ad excepturi omnis aut, laborum, autem temporibus architecto consequatur asperiores quae quibusdam doloribus delectus a quam exercitationem?</p>
               
                </div>

            </div>

        </div>
        <div id="masse" class="card">
            <div class="imgBx" >
                <pre>Prise de masse </pre>
                <img src="/assets/muscle.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Prise de masse</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi, id necessitatibus corrupti ad excepturi omnis aut, laborum, autem temporibus architecto consequatur asperiores quae quibusdam doloribus delectus a quam exercitationem?</p>
             
                </div>

            </div>

        </div>
        <div id="motivation" class="card">
            <div class="imgBx" >
                <pre>Motivation</pre>
                <img src="/assets/motivation.png" alt="">

            </div>
            <div class="content">
                <div>
                    <h3>Motivation</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi, id necessitatibus corrupti ad excepturi omnis aut, laborum, autem temporibus architecto consequatur asperiores quae quibusdam doloribus delectus a quam exercitationem?</p>
                
                </div>

            </div>

        </div>
        <div id="endurance" class="card">
            <div class="imgBx" >
                <pre>Endurance </pre>
                <img src="/assets/endurance.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Endurance</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi, id necessitatibus corrupti ad excepturi omnis aut, laborum, autem temporibus architecto consequatur asperiores quae quibusdam doloribus delectus a quam exercitationem?</p>
                
                </div>

            </div>

        </div>
    </div>


</section>
<hr>
<section class="actualités">
    <h1>ACTUALITÉS</h1>
    <app-carousel></app-carousel>
</section>

<section class="promotions">
    <h1>PROMOTIONS</h1>
    <app-promotions></app-promotions>
    
    
</section>
<hr>
<section class="nos-services">
    <h1>NOS-SERVICES</h1>
    <app-nos-services></app-nos-services>
</section>
<hr style="margin-top: 3%;">
<section class="stats">
    <app-stats></app-stats>
</section>

<section class="Coaching-privé">


    <h3>Coaching Privé</h3>
    <p>Coaching privé individuel : L’avantage de ce type de coaching tient au choix qu’il s’agisse d’un coaching 100% individualisé puisque les séances sont adaptées aux morphotypes du client, à ses pathologies éventuelles où encore à ses envies particulières.</p>
    <a href="#" class="btn">Voir Plus</a>

</section>


