<section class="services" id="services">

  <h1 class="heading">our services</h1>

  <div class="box-container">

      <div class="box">
          <img src="/assets/promo 1.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/promo 2.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/promo 3.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/promo 4.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/promo 5.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/promo 6.jpg" alt="">
          <div class="content">
              <h3>yoga</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem.</p>
              <a href="#" class="btn">read more</a>
          </div>
      </div>

  </div>

</section>