.services .box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* set 3 items per row */
  grid-gap: 50px;
}

.services .box-container .box{
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.services .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .box-container .box .content{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.453);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  transition: 0.5s;
}

.services .box-container .box:hover .content{
  transform: translate(-50%, -50%) scale(1);
}

.services .box-container .box .content h3{
  font-size: 2.5rem;
  color: #ffffff;
}

.services .box-container .box .content p{
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem 0;
}
