<div >

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Abonnement</th>
          <th>Durée</th>
          <th>Paiment</th>

       </tr>
      </thead>

         <tr>
            <td>order_id</td>
            <td>delivered_to</td>
            <td>phone_no</td>
            <td>order_date</td>
            <td>pay_method</td>
            <td>pay_method</td>
            <td><button class="btn btn-success">Paid </button></td>



    </table>

  </div>

  <!-- <script>
       //for view order modal
      $(document).ready(function(){
        $('.openPopup').on('click',function(){
          var dataURL = $(this).attr('data-href');

          $('.order-view-modal').load(dataURL,function(){
            $('#viewModal').modal({show:true});
          });
        });
      });
   </script> -->
