<main class="table">
  <section class="table__header">
      <h1>Tableau des Clients</h1>
      <div class="input-group">
          <input type="search" placeholder="Search Data...">
          <img src="images/search.png" alt="">
      </div>
      
  </section>
  <section class="table__body">
      <table>
          <thead>
              <tr>
                  <th> Nom & Prénom <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Téléphone <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Abonnement <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Durée <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Statut <span class="icon-arrow">&UpArrow;</span></th>
              </tr>
          </thead>
          <tbody *ngFor="let client of clientsTab">
              <tr>
                  <td> {{client.name}} </td>
                  <td> {{client.email}} </td>
                  <td> {{client.tel}} </td>
                  <td> {{client.abonnement}} </td>
                  <td> {{client.duree}} </td>
                  <td>
                    <button (click)="changeStatus(client._id)" id="monBouton" class="bouton ">Non Payé</button>
                  </td>
                  
              </tr>
            
          </tbody>
      </table>
  </section>
</main>