<ul class="honeycomb">
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="/assets/Piscine.jpg">
        <img class="icon" src="/assets/piscine.png" alt="">
        <div class="honeycomb-cell_title">Piscine</div>
    </li>
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="/assets/Hammem-&-Spa.jpg">
        <img class="icon" src="/assets/Hammem.png" alt="">
        <div class="honeycomb-cell_title">Hammem & Spa</div>
    </li>
    
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="/assets/buvette.jpg">
        <img class="icon" src="/assets/buvette.png" alt="">
        <div class="honeycomb-cell_title">Buvette</div>
    </li>
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="/assets/Gym.jpeg">
        <img class="icon" src="/assets/Gym.png" alt="">
        <div class="honeycomb-cell_title">Gym & Fitness</div>
    </li>
   
    <li class="honeycomb-cell honeycomb_Hidden">
    </li>
</ul>