
    <div class="Triangles">
        <div class="triangle-box1">
            <img class="image" src="/assets/buvette.jpg" alt="">
            <img class="icon" src="/assets/buvette.png" alt="">
            <h1 class="desc">Buvette</h1>
            
        </div>
        <div class="triangle-box3">
            <img class="image" src="/assets/Hammem-&-Spa.jpg" alt="">
            <img class="icon" src="/assets/Hammem.png" alt="">
            <h1 class="desc">Hammem & Spa</h1>
            
        </div>
       
    </div>   

    <div class="Triangles-row">
     <div class="triangle-box2">
        <img class="image" src="/assets/Piscine.jpg" alt="">
        <img class="icon" src="/assets/piscine.png" alt="">
        <h1 class="desc">Piscine</h1>
     </div>
    
     <div class="triangle-box4">
        <img class="image" src="/assets/Gym.jpeg" alt="">
        <img class="icon" src="/assets/Gym.png" alt="">
        <h1 class="desc">Gym & Fitness</h1> 
        </div>
    </div>
