<div class="clearfix"></div>
	<br/>
<div class="col-div-3">
    <div class="box">
        <p>67<br/><span>Coachs</span></p>
        <i class="fa fa-users box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>88<br/><span>Adhérents</span></p>
        <i class="fa fa-user box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>99<br/><span>Clients</span></p>
        <i class="fa fa-user box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>4<br/><span>Services</span></p>
        <i class="fa fa-tasks box-icon"></i>
    </div>
</div>



<div class="clearfix"></div>
	<br/><br/>
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			<p>Notifications</p>
			<br/>
			<table>
  <tr>
    <th>Nom et Prénom </th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Message</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let notification of notificationTab">
    <td>{{notification.name}}</td>
    <td>{{notification.email}}</td>
    <td>{{notification.tel}}</td>
    <td><p><span (click)="OpenMessage(notification._id)">Voir Message </span></p></td>
    <td> <a  (click)="deleteNotification(notification._id)"  style="cursor: pointer; margin-left: 24px;" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a></td>
    
  </tr>
 
  
</table>
		</div>
	</div>
	</div>



    <div class="popup1">
        <button id="fermer">&times;</button>
        <h2>Attention !</h2>
        <p>
         Voulez-vous vraiment  supprimer ce message ?
        </p>
        <a id="continuer" >Continuer</a>
    </div>

    <div class="popup3">
        <button id="fermer3">&times;</button>
        <h2></h2>
        <p>
         
        </p>
        
    </div>