
<div class="box">
   
    <img [src]="equipeInput.image" alt="">
    <div class="content">
        
        <h2>{{equipeInput.name}}</h2>
        <h4>{{equipeInput.profession}}</h4>
        
        <div class="share">
            <i class="fa fa-phone" aria-hidden="true"><p> {{equipeInput.tel}}</p></i><br>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
</div>
