<div class="Tarif">
    <div class="background">
       
        <img src="/assets/tarif-background.png" alt="" height="330px" width="100%">
        <h1 id="target">TARIF</h1>
        
        
    </div>
    
    <div class="card">
      <div class="header">
        <span class="license">Gym & Fitness</span>
        <h2>440 DT</h2>
        <span class="duration">/ 3 months</span>
        <a href="#" class="btn">Réserver</a>
      </div>
      <ul class="features">
        <li>
          <img src="/assets/checkmark.png" />
          <h4>250 Subscribers</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Team Members</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Metrics</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Email Notifications</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Basic Customization</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Status & Authenticated API</h4>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="header">
        <span class="license">Piscine</span>
        <h2>650 DT</h2>
        <span class="duration">/ 3 months</span>
        <a href="#" class="btn">Réserver</a>
      </div>
      <ul class="features">
        <li>
          <img src="/assets/checkmark.png" />
          <h4>250 Subscribers</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Team Members</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Metrics</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Email Notifications</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Basic Customization</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Status & Authenticated API</h4>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="header">
        <span class="license">Global</span>
        <h2>1200 DT</h2>
        <span class="duration">/ 3 months</span>
        <a href="#" class="btn">Réserver</a>
      </div>
      <ul class="features">
        <li>
          <img src="/assets/checkmark.png" />
          <h4>250 Subscribers</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Team Members</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>5 Metrics</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Email Notifications</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Basic Customization</h4>
        </li>
        <li>
          <img src="/assets/checkmark.png" />
          <h4>Status & Authenticated API</h4>
        </li>
      </ul>
    </div>
  </div>
